<div class="container__big-card">
	<div class="big-card__photo">
		<img src="https://s2.glbimg.com/x2Hg7IGKSh_CB0svv726-W-bhic=/0x0:1210x540/984x0/smart/
		filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/
		internal_photos/bs/2019/6/q/M5UZDRSfuWAbL8a1j9yA/morgana-splash-art.png"
		alt="photo"
		height="200px"
		>
	</div>
	<div class="big-card__title">
		<h1><a href=""> Saiu a nova versão do Angular </a></h1>
	</div>
	<div class="big-card__description">
		<p>
			<a>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta corrupti architecto
			delectus minus nostrum porro, rerum dolorum sapiente ullam labore harum placeat mollitia
			quia itaque tempore ipsa error, magni voluptatibus?
			</a>
		</p>
	</div>
</div>
