.container__small-card {
	width: 600px;
	margin-bottom: 15px;
}

.container__small-card-content{
	display: flex;
	flex-direction: row;
}


.small-card__photo > img {
	width: 200px;
	min-width: 200px;
	margin-right: 20px;
	box-shadow: -1px 5px 13px 9px rgba(70,64,161,0.64);
	-webkit-box-shadow: -1px 5px 13px 9px rgba(70,64,161,0.64);
	-moz-box-shadow: -1px 5px 13px 9px rgba(70,64,161,0.64);
}

.small-card__title{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container__small-card-separator {
	margin-top: 10px;
}
